<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.Name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.Description %>
  </p>

  <p>
    <strong>Instructor name:</strong>
    <%= course.Instructor_Name %>
  </p>


  <p>
    <strong>Instructor name:</strong>
    <%= course.Instructor_Email %>
  </p>

  <p>
    <strong>Weekday1:</strong>
    <%= course.Weekday1 %>
  </p>

  <p>
    <strong>Weekday2:</strong>
    <%= course.Weekday2 %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.Start_Time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.End_Time %>
  </p>

  <p>
    <strong>Course code:</strong>
    <%= course.Course_Code %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.Capacity %>
  </p>

  <p>
    <strong>Waitlist capacity:</strong>
    <%= course.Waitlist_Capacity %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course.Room %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.Status %>
  </p>

</div>
