<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <% if current_user.user_type == "student" %>

  <%else %>
    <%= link_to "Edit this course", edit_course_path(@course) %> <br>
    <%= button_to "Destroy this course", @course, method: :delete %>
  <%end %>
  <%= link_to "Back to courses", courses_path %>
  <% if current_user.user_type == "instructor" %>
  <ol>
  <% @students.each do |stu| %>
      <li>
        <%= link_to student_path(stu.student_id) do %>
          <%= stu.student_id %>
        <% end %>
        <p> student </p>
      </li>
  <% end %>
</ol>

  <%end %>
  
</div>
