<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.Name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= student.date_of_birth %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= student.Phone_Number %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.Major %>
  </p>

  <p>
    <strong>Student id:</strong>
    <%= student.Student_ID %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

</div>
