<h1>Students</h1>

<div id="students" class="table-responsive">
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Student ID</th>
      <th scope="col">Email</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Phone number</th>
      <th scope="col">Major</th>
      <th scope="col">Show</th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
      <tr class="table-row">
        <td> <%= student.Name %> </td>
        <td> <%= student.Student_ID %> </td>
        <td> <%= student.email %> </td>
        <td> <%= student.date_of_birth %> </td>
        <td> <%= student.Phone_Number %> </td>
        <td> <%= student.Major %> </td>
        <td><%= link_to "Student Details", student, class: "btn btn-outline-dark" %></td>
      </tr>
    <%end %>
    </tbody>
  </table>
</div>

<% if current_user.user_type == "admin" or  current_user.user_type == "instructor" %>
  <%= link_to "Add Student+", new_student_path, class: "btn btn-secondary"%>
<%end %>