<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
    <% if current_user.user_type != "instructor" %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student %>
      </p>
    <% end %>
  <% end %>

</div>

<div>
  <% @students.each do |student| %>
    <% if current_user.user_type == "instructor" %>
      <%= render student %>
      <%= link_to "Enroll This Student", new_enroll_path(:course_id => :course_id,:student_id => student.id) %>
    <% end %>
  <% end %>

</div>

<% if current_user.user_type != "instructor" %>
<%= link_to "New student", new_student_path %>
<% end %>
