<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
    <% if current_user.user_type != "instructor" %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student %>
      </p>
    <% end %>
  <% end %>

</div>

<div>
  <% @students.each do |student| %>
    <% if current_user.user_type == "instructor" %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student %>
      </p>
      <p> enroll </p>
    <% end %>
  <% end %>

</div>



<%= link_to "New student", new_student_path %>
