<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
    <% if current_user.user_type != "instructor" %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student, {:class => "link-dark"} %>
      </p>
    <% end %>
  <% end %>

</div>

<div>
<% if current_user.user_type == "instructor" %>
  <p> Enrolled Students </p>
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Enroll</th>
      </tr>
      </thead>
    <tbody>
    <% @students.each do |stu| %>
        <tr>
          <td><%= link_to student_path(stu.student_id, :course_id => @cid) do %></td>
          <td><%= Student.where(:id => stu.student_id).pluck(:email).first %></td>
          <td><%= link_to "Remove", student_test_path(:student_id => stu.student_id, :course_id => @cid) %></td>
        </tr>
      
    <% end %>
    </tbody>
    </table>
<% end %>
</div>

<% if current_user.user_type != "instructor" %>
<%= link_to "New student", new_student_path, {:class => "link-dark"} %>
<% end %>
