<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
    <% if current_user.user_type != "instructor" %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student %>
      </p>
    <% end %>
  <% end %>

</div>

<div>
  <ol>
      <% @students.each do |stu| %>
          <li>
            <%= link_to student_path(stu.student_id) do %>
              <%= Student.where(:id => stu.student_id).pluck(:name).first %>
            <% end %>
          </li>
      <% end %>
    </ol>
  </div>

<div>
  <% @students.each do |student| %>
    <% if current_user.user_type == "instructor" %>
      <%= render student %>
      <%= link_to "Enroll This Student"%>
    <% end %>
  <% end %>

</div>

<% if current_user.user_type != "instructor" %>
<%= link_to "New student", new_student_path %>
<% end %>
