<p style="color: green"><%= notice %></p>

<%= render @student %>


  <p> Enrolled Students </p>
      <ol>
      <% @students.each do |stu| %>
          <li>
            <%= link_to student_path(stu.student_id, :course_id => @course.id) do %>
              <%= Student.where(:id => stu.student_id).pluck(:email).first %>
              <%= link_to "Remove", course_path(:student_id => stu.student_id) %>
            <% end %>
          </li>
      <% end %>
    </ol>

  <% if current_user.user_type == "student" %>
  <%= link_to "Edit this student", edit_student_path(@student), class: "btn btn-secondary" %> &nbsp;&nbsp;
  <%else %>
    <div class="flex-box">
      <% if current_user.user_type == "admin" %>
      <%= button_to "Destroy this student", @student, method: :delete, class: "btn btn-secondary" %>
      <% end %>
    </div>
  <%end %>
  <br><br>
  <% if current_user.user_type == "admin" %>
    <%= link_to "Back to Home",  root_path %>
    <%= link_to "Back to students", students_path %>
  <%end %>
  <div class="flex-box">
  <% if current_user.user_type == "instructor" %>
   <%= link_to "Unenroll Student", students_path %>
  <% end %>
  </div>
  
</div>
